@import @styles/theme

.Header
  width: 100%
  background-color: $black
  color: $white
  padding: $margin 0
  text-transform: uppercase
  letter-spacing: 2px
  font-size: $size-6
  z-index: 999
  position: relative

  +mq(mobile)
    font-size: 16px


  .Wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    max-width: 100%

.Logo
  cursor: pointer

  +on-event
    span
      background: $white
      color: $black


  span
    border: 1px solid $white
    display: inline
    padding: $margin-smallest $margin-smaller
    text-transform: uppercase
    letter-spacing: 2px
    margin-right: 5px
    font-size: $size-6

    +animate(background, color)

    &:nth-child(1)
      border-radius: 1000px

.Info
  a
    color: $mid-grey

    +animate(color)

    +on-event
      color: $white
