@import @styles/theme

.Audio
  border-radius: 4px
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  background-color: $white
  border: 1px solid $black

  +mq(mobile)
    flex-direction: column

.Filename
  padding: $margin-smaller $margin-small
  white-space: nowrap

  +mq(mobile)
    white-space: normal

.Wrapper
  padding: 0
