@import @styles/theme

.Audio
  border-radius: 4px
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  background-color: $white
  border: 1px solid $black


.Filename
  padding: $margin-smaller $margin-small
  white-space: nowrap

.Wrapper
  padding: 0
