@import @styles/theme

.Footer
  padding: $margin-small 0
  color: $white
  font-size: 16px
  text-transform: uppercase
  letter-spacing: 2px
  position: sticky
  top: 100%
  z-index: 999

.Wrapper
  max-width: 100%

.Switcher
  a
    border-bottom: 1px solid $dark-grey
    margin-left: $margin-small

    +animate(border)

    +on-event
      border-color: $white
